<footer class="footer">
    <div class="footer-content">
      <!-- Informações de contato -->
      <div class="contact-info">
        <h3>Contato</h3>
        <p>Email: suporte&#64;anotai.com</p>
        <p> &#x260F; Tel: (71) 9.7777-8888</p>
      </div>
  
      <!-- Redes sociais -->
      <!-- <div class="social-media">
        <h3>Redes Sociais</h3>
        <ul>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">LinkedIn</a></li>
        </ul>
      </div> -->
  
      <!-- Direitos reservados e logo -->
      <div class="rights">
        <img src="/shopping_cart_icon.png" alt="Logo anotAI" class="footer-logo" />
        <p>Todos os direitos reservados a YannZhn</p>
      </div>
    </div>
  </footer>