<div class="container-home">
    <div class="content">
      <!-- Título principal -->
      <h1 class="welcome-text">Bem-vindo ao anotAI!</h1>
  
      <!-- Descrição adicional -->
      <p class="description">
        Organize sua lista de compras de forma prática e rápida. Faça o login e comece agora mesmo!
      </p>
  
      <!-- Imagem ilustrativa -->
      <div class="image-container">
        <!-- <img src="/img_shoppingList.webp" alt="Lista de compras" /> -->
      </div>
  
      <!-- Botões de autenticação -->
       <div class="container-btn">
           <app-auth-buttons></app-auth-buttons>
       </div>
    </div>
  </div>