<div class="container-home">
    <div class="content">
    
      <h1 class="welcome-text">Bem-vindo ao anotAI!</h1>
  
      <p class="description">
        Organize sua lista de compras de forma prática e rápida. Faça o login e comece agora mesmo!
      </p>
  
      <div class="image-container">
        <img src="/img_shoppingList ofc.jpg" alt="Lista de compras" />
      </div>
  
       <div class="container-btn">
           <app-auth-buttons></app-auth-buttons>
       </div>
    </div>
  </div>