.container-home {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    background: linear-gradient(to bottom, #f0f8ff, #e6f7ff);
    font-family: 'Arial', sans-serif;
    padding: 10px;
    margin-top: 2vh;
    border-radius: 10px;

    .content {
        text-align: center;
        background: #ffffff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        max-width: 400px;
        width: 90%;

        .welcome-text {
            font-size: 24px;
            color: #007acc;
            margin-bottom: 10px;
        }

        .description {
            font-size: 16px;
            color: #555555;
            margin-bottom: 20px;
        }

        .image-container {
            margin: 20px 0;

            img {
                width: 100%;
                max-width: 250px;
                height: auto;
            }
        }

        .container-btn {
            display: flex;
            justify-content: center;
        }

    }
}