<app-auth-buttons></app-auth-buttons>
<div class="notification-card" [ngClass]="{'show': addTextNotify, 'none': !addTextNotify}">
  <h3 class="text-notify">{{addTextNotify}}</h3>
</div>

<div class="notification-card error" [ngClass]="{'show': messageError, 'none': !messageError}">
  <h3 class="text-notify"> {{messageError}} </h3>
</div>

<div class="user-profile" *ngIf="userData">
  <img src={{userData.picture}} alt="foto-perfil">
  <h4>User: <strong>{{userData.name}}</strong></h4>
  <p>Email:{{userData.email}}</p>

</div>

<app-add-items (notifyAddItem)="notifyAddItem()" (notifyEditItem)="notifyEditItem()"></app-add-items>
<div class="list-container">
  <h4>lista de compras 📋</h4>
  <h6><strong>💸 Total:</strong> {{totalPrice | currency:'BRL':'symbol': '1.2-2'}}</h6>

  <div *ngFor="let categoryObj of categoriesWithItems">
   <details  [open]="openCategory === categoryObj.category" >
    <summary (click)="toggleDetails(categoryObj.category)">{{ categoriaPT(categoryObj.category) | uppercase }}</summary>
    <ul *ngIf="categoryObj.products.length > 0; else noItems">
      <li *ngFor="let item of categoryObj.products; let i = index">
        <app-card-list [name]="item.name" [price]="convertFormattedPriceToNumber(item.price) | currency:'BRL'"
          [quantity]="item.quantity" (edit)="editItem(item, i, categoryObj.category)"
          (delete)="deleteItem(categoryObj.category, item.id)"
          (buy)="buyItem(item, categoryObj.category, i)"></app-card-list>
      </li>
    </ul>
  </details>
  </div>

  <ng-template #noItems>
    <p>A lista de compras está vazia. Adicione algum item 🍇</p>
  </ng-template>
</div>

<app-buy-item (removeItemBuy)="notifyRemoveItem()" (itemRemoved)="loadItems()"></app-buy-item>