.navbar {
    background-color: #add8e6 !important;
    border-radius: 10px;
    z-index: 6;

    .logo {
        width: 40px;
        height: 40px;
        border-radius: 10px;
    }
  
    .navbar-brand,
    .nav-link {
      color: #e60b0b !important;
  
      &:hover {
        color: #e6f7ff !important;
      }
    }
  
    .btn-outline-success {
      color: #ffffff;
      border-color: #e6f7ff;
  
      &:hover {
        background-color: #e6f7ff;
        color: #007acc;
      }
    }
  }
  